/* 
Colors and Font Styles

dark background color (hero and footer)
#1F2937

Hero Main text ("This website is awesome")
48px extra-bold #F9FAF8
*/
* {
    font-family: 'Times New Roman', Times, serif;
}
a {
    color: #E5E7EB;
    font-size: 16px;
    text-decoration: none;;

    
}
nav {
    display: flex;
    justify-content: end;
    gap: 16px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    /* border: none; */
}

h2 {
    font-weight: bold;
    text-align: center;
}

.nav-bar-container, .hero-container, .information-container{
    /* Styling for figuring out flex box styling */
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    align-items: center;
    /* width: auto; */ 
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    /* background-color: yellow; */
}

.nav-items{
    /* background-color: green; */
    flex: 1; 
    color: white;
}

.hero-container{
    
    /* This is styling for hero container */
    padding-bottom: 80px;
    gap: 5px;
}

.hero-items {
    color: white;
    width: 50%;
    /* justify-content: space-evenly; */
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    border-color: #3882F6;
    border-radius: 7px;
    border: 1px;
    padding: 5px 20px 5px 20px;
}

.hero-img-holder {
    background-color: grey;
    width: 50%;
}

.placeholder{
    color: white;
    padding: 80px 10px 80px 10px;
    text-align: center;
    
}

.information-container {
    background-color: white;
}

.subtext-item {
    flex: 1;
    gap: 10px;
    text-align: center;
    color: gray;
    font-size: 14px;
    flex-wrap: wrap;
}

